<div>
    <h3>Adicionar Novo Professor</h3>
  </div>
  <form class="example-container" [formGroup]="professorForm" (ngSubmit)="addProfessor(professorForm.value)">
    <mat-form-field>
      <input matInput name="Nome" placeholder="Nome do Professor" formControlName="Nome">
    </mat-form-field>
    <mat-form-field>
      <input  matInput name="Cargo" placeholder="Cargo" formControlName="Cargo">
    </mat-form-field>
    <mat-form-field>
      <input matInput name="Titulacao" placeholder="Titulação" formControlName="Titulacao">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="Telefone" placeholder="Telefone" formControlName="Telefone">
      </mat-form-field>
      <mat-form-field>
        <input matInput name="Email" placeholder="Email" formControlName="Email">
      </mat-form-field>
  
    <button type="submit" [disabled]="!professorForm.valid" mat-button color="primary">Adicionar</button>
  </form>
