<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>{{aluno.NomeAluno}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>Telefone: {{aluno.Telefone}}</dt>
          <br>

          <dt>Email: {{aluno.Email}}</dt>
          <br>

          <dt>Endereço: {{aluno.Endereco}}</dt>
          <br>

          <dt>Data de Nascimento: {{aluno.DataNascimento | date}}</dt>
          <br>

          <dt>CPF: {{aluno.Cpf}}</dt>
          <br>

        </dl>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" class="teste" routerLink="/alunos-edit/{{aluno.IdAluno}}"><mat-icon>edit</mat-icon> Editar</button>
        <button mat-flat-button color="warn" (click)="deleteAluno(aluno.IdAluno)"><mat-icon>delete</mat-icon> Excluir</button>
        <button mat-flat-button color="accent" class="teste" routerLink="/alunos"><mat-icon>home</mat-icon> Voltar</button>
      </mat-card-actions>
    </mat-card>
  </div>
