<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>{{professor.Nome}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>Cargo: {{professor.Cargo}}</dt>
          

          <dt>Titulacao: {{professor.Titulacao}}</dt>
          

          <dt>Telefone: {{professor.Telefone}}</dt>
          

          <dt>Email: {{professor.Email}}</dt>
          

        </dl>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" class="teste" routerLink="/professores-edit/{{professor.IdProfessor}}"><mat-icon>edit</mat-icon> Editar</button>
        <button mat-flat-button color="warn" (click)="deleteProfessor(professor.IdProfessor)"><mat-icon>delete</mat-icon> Excluir</button>
        <button mat-flat-button color="accent" class="teste" routerLink="/professores"><mat-icon>home</mat-icon> Voltar</button>
      </mat-card-actions>
    </mat-card>
  </div>

